<div class="container">
  <h2>Reactive Form</h2>
  <form [formGroup]="userForm">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" formControlName="firstName" />
    </div>
    @if(userForm.controls['firstName'].invalid &&
    (isFormSubmitted||userForm.controls['firstName'].touched||userForm.controls['firstName'].dirty)){
    <div class="validmsg">
      @if(userForm.controls['firstName'].errors?.['required']){
      <span>This is required</span>
      } @if(userForm.controls['firstName'].errors?.['minlength']){
      <span>Minimum 5 characters</span>
      }
    </div>
    }
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" formControlName="lastName" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
    </div>
    @if(userForm.controls['email'].invalid &&
    (isFormSubmitted||userForm.controls['email'].touched||userForm.controls['email'].dirty)){
    <div class="validmsg">
      @if(userForm.controls['email'].errors?.['required']){
      <span>This is required</span>
      } @if(userForm.controls['email'].errors?.['email']){
      <span>Invalid email</span>
      }
    </div>
    }
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" id="city" formControlName="city" />
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <select id="state" formControlName="state">
        <option value="">Select State</option>
        <option value="state1">State 1</option>
        <option value="state2">State 2</option>
        <option value="state3">State 3</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pincode">Pincode</label>
      <input type="text" id="pincode" formControlName="pincode" />
    </div>
    <div class="form-group">
      <input type="checkbox" id="terms" formControlName="isAgree" />
      <label for="terms">I agree to the terms and conditions</label>
    </div>
    <button type="submit" (click)="onSubmit()">Submit</button>
  </form>
</div>
